/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
    background: url(border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
    border: solid 1px #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-outer {
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.imgareaselect-selection {
}
/*---------- */
#avatar{
    background: #eeeeee;
    border: solid 2px 7E7E7E;
}
#avatar img{
    padding: 0;
    margin: 0;
    background-position: 0;
}

#avatar div{
    float: left;
    width: 50%;
}
#avatar p{
    color: #666666;
    font-style: italic;
}

#avatar h2{
    color:#7E7E7E;
    font-family:verdana;
    font-size:21px;
    margin:0;
}
#avatar #thumb{
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
#avatar .prev{
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px;
}
