html, body, #footer,#wrapper{
    border:0;
    margin:0;
    padding:0;  
    width: 240px;
}
#wrapper{
width: 240px;
    
}
#header{
    background: #71bdf0;    
}
#header h1{
    color: #D7E3F4;
    margin: 0;
    padding: 4px;
    text-align: center;
    font: "sans-serif" 60px;
    border-bottom: solid 1px #D7E3F4;
    background: #535353;
}

.sidebar a{
    width: 100%;    
    padding: 6px 0 6px 4px;
    display: block;
    font: 16px sans-serif;    
    color: #FFF;
}
.sidebar div{
    border-bottom:  dotted 1px #ccc;        
}

#content{
    padding: 0 0 0 2px;
    font-size: 0.8em;
}


/* toolbar */
.bar-button{
    background: none repeat scroll 0 0 #EAEBED;

    border-right: 1px solid #CCCCCC;    
    color: #6D6D6D;
    cursor: pointer;
    font: 10px Verdana;
    height: 20px;
    padding: 5px;
    width: 28%;
    float: left;

}
.bar-pages{
    clear: both;
}
.bar-button:hover, .bar-active{
    background: #DDDDDD;
}
.table_header div{
    display: inline-block;
}

/* */
.mitem{
    padding: 5px 0;
    border-bottom: solid #CCCCCC 1px;
}
.page{
    background: #F7F7F7;
    display: none;
    margin: 4px;
}
.f-message-success{
    border: solid 1px #9bb300;
    padding: 2px 0;
    margin: 2px 0;
}

.f-input-help{
    font-style: italic;
    font-size: 12px;
}
.title{
    padding: 3px;
    text-align: center;
}
.hide, .mhide{
    display:none!important;
}
.mdisplay, .show{
    display: block!important;
}
input, select, textarea{
    width: 99%;
    padding: 4px 0;
    background: #FAFFC6;
    border: solid 1px #ccc;
}
.w20{
    width: 20px!important;
    height: 20px!important;
    display: inline-block!important;
}

.g{
    display: block!important;
}

.f-bu{
    width: 99%;
    background:#DDDDDD;
    border: solid 1px #ccc;
    display: block;
    text-align: center;
    margin: 2px 0;
    padding: 4px 0;
}
#footer{
    background: #535353;
    color: #fff;
    text-align: center;
    width: 100%;
}
.error-field{
    background: url("/assets/images/icon/error.png") no-repeat scroll 1px 50% transparent;
    color: #E89999;
    font-style: italic;
    margin: 0 0 0 6px;
    padding: 5px 5px 5px 15px;
}


/* Test-edit ---*/
.answer textarea{
    background: none repeat scroll 0 0 #F7F3E3;
    font: 0.8em Tahoma,Serif;
    height: 200px;
}
.variants-head span{
    display: inline-block;
}

.test-item{
    border: 1px solid #CCCCCC;
    font: 14px Verdana;
    margin: 2px 0 36px;
    padding: 7px;
}
.answers{
    color: #C9562C !important;
}
.trueanswers{
    color: green !important;
    font-weight: bold !important;
}


/* --- */


/* ----  user test--------*/
#qw{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 8px 7px #E5E5E5 inset;
    margin: 0 0 4px;
    padding: 11px 20px;
}
#quetion{
    border-bottom: solid 1px #ccc;
}
#mark{
    color: green;
    font: 47px arial;
    text-shadow: 3px 2px 4px;
}

.var_answ{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px ridge #CCCCCC;
    box-shadow: 0 0 8px 5px #F9F5C0 inset;
    margin: 6px 0;
    padding: 3px;
}


.c-bu{
    border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -1px -1px 4px inset;
    padding: 5px 12px 3px 25px;
}



/* -----------  */

.less{
    border: 1px solid #CCCCCC;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 -4px 11px #CCCCCC inset;
    margin: 13px 0;
    padding: 14px;
    font: 13px verdana;
}

.less-header{
    border-bottom: 1px solid #CCCCCC;
    font: 15px verdana;
}
.less a{
    background: none repeat scroll 0 0 #AAAAAA;
    border: 2px groove #BFBFBF;
    border-radius: 28px 28px 28px 28px / 8px 8px 8px 8px;
    box-shadow: -1px 0 5px #000000 inset;
    color: #FFFFFF;
    font: 17px tahoma;
    padding: 6px 16px;
    margin: 14px 0 0;
    display: block;

    text-decoration: none;
}

/*----------*/
.table_header{
    background: #D8D0A9;
    padding: 4px 0;
}
.table_header div{
    border-left: dotted 1px #000;
    padding: 0 0 0 2px;
}
.point{
    background: #E9F4CB; 
}
.green{
    color: green;
}
.red{
    color: red;
}
.blue{color:blue;}
.bgreen{
    background: #99DBFF;
}


.message-list{
    border: 1px solid #CCCCCC;
    margin: 9px 0;
    overflow-y: auto;
    padding: 5px;
}

.message-item{
    background: #fffece;
    margin: 0 0 8px;
    display: block;
    text-decoration: none;
    color: #000;
    border: solid 1px #ddd;
    padding: 2px;
}
.write-message textarea{
    width: 80%;
    float: left;
}
.write-message img{
    border: solid 1px #BFBFBF;
    margin: 0 0 0 2px;
}
SPAN.from.login{
    font: 14px Verdana;
    color: #109E0E;
}
span.from{
    color: #1a90ff;
    font: 12px arial;
    display: block;
}

.avatar-mini, .messagelist-img{
    width: 40px!important;
    height: 40px!important;
    vertical-align: text-top;
    float: left;
    margin: 0 2px 2px 0;
    border-radius: 9px;
}


#u-title{
    background: #F4F7B9;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;    
    display: block;
    font: 16px cursive;        
    text-align: center;        
}

.view-shpora .text table{
    
}
.view-shpora .text td{
    border: 1px groove #84BFF9;    
    font: 12px verdana;
}

/* ===FORUM=== */
.forum-item{
    border: solid 2px #969696;
    font-size: 1.5em;
    padding: 4px;
    margin: 3px 0 0;
    background: #f4e5b9;
    border-radius: 13px 0 0 13px;
}

.forum-item a{
    color: #6b6767;
}
.f-header{
    background: #fbf9bb;
    color: #545151;
    font-size: 1.2em;
}
.fmessage-navigation{
    font-size: 0.8em;
}
.topic-item{
    border: solid 3px #ffcfba;
    margin: 10px 0;
    min-height: 85px;
    border-radius: 5px;
}

.read-btn{
    text-align: center;
    color:  #545151;
    display: block;
    background: #b9d9f7;
}
.last-message{
    padding: 0 0 0 25px;
    font-style: italic;
    font-size:  12px;
    color: #1c780c;    
}
.author{
    color: #C9562C;
    font-weight: bolder;
}
.fmessage-header a{
    text-transform: uppercase;
    display: block;    
}
.fmleft h3, .fmleft h3, fmleft p{
    padding: 0px;
    margin: 0px;
}
.del-forum, .del-topic, .report-news{
    padding: 0 10px;
    display: inline;    
    border-radius: 40px;
    margin: 0 0 0 12px;
}

.tasks-group_tasks-item .item{
    border: solid 2px #99DBFF;
    margin: 10px 0;
    padding: 2px 0;
}
.tasks-group_tasks-item .f-bu{
    border-radius: 30px;
    margin-right: 10px;
}
/* ----------------- */