html, body{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#page{

}
hr{
    background: #D3C27C;
}
/* цвет фона */
.bg, #wrapper{

}

.pngie{
    position: relative;
    left: 3px;
    _top:-5px;
    _left: 10px;
}
#loading-modal{
    display: none;
}
#loading-modal #transparent-div{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: #000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
#loading-modal img{
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    height: 37px;
    left: 34%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 25%;
    width: 416px;
    z-index: 2001;
}

/* opera logo hack */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) { 
    head~body .pngie {     left: 0px; } 
}


/* таблица без раскраски*/
.clrtable tr:hover th,.clrtable tr:hover td,.clrtable th{background: none;}

.error-message{/*ошибки*/
    color: red;
    font: 21px 'Times New Roman';
    text-align: left;
    font-style:italic;
}
.center{
    margin: 0 auto;
}
.hide{
    display:none;
}
.sysinfo, .error, .message{
    display:none;
    font: 21px 'Times New Roman';
}
.f-bu, input{
    font: 18px verdana!important;
}
select{
    font: 15px verdana;
}

.error-field{
    background: url("/assets/images/icon/error.png") no-repeat scroll 1px 50% transparent;
    color: #E89999;
    font-style: italic;
    margin: 0 0 0 6px;
    padding: 5px 5px 5px 15px;
}
.ok-field{
    background: url("/assets/images/icon/ok.png") no-repeat scroll 0 0 transparent;
    margin: 0 0 0 4px;
    padding: 13px;
}

.dissabled{
    border-color: red !important;
    box-shadow: 0 0 20px 2px #FFADAD inset;
}

/*--------------*/
#wrapper{
    font-family: "Verdana";

    position: relative;
    top: -256px;
}
#sup-wrapper{
    background: url('/assets/images/LOGO_bg.jpg') #78b2f4;    
    height: 256px;
    width: 100%;
}
#header .header{
    height: 256px;
    width: 960px;
}

#block-menu{
    border-right: 1px solid #D8D0A9;    
    width: 190px;
    padding: 0 0 0 5px;
}
#block-menu ul{
    list-style:none;
    margin: 0 0 0 8px;
}
.sidebar a{
    font-size: 14px;
    text-decoration: none;
}
.sidebar li{
    padding: 7px 0 0 7px;
    position: relative;
}
.sidebar li:hover{
    background:  #C2E3FC;
    border-top: solid 1px #298FF4;
    border-bottom:  solid 1px #298FF4;
}
#block-menu h2{
    border-bottom: 1px dashed #CCCCCC;
    font: 2em Tahoma;

}

.navi_img{
    left: -23px;
    position: absolute;
}


.submenu{
    position: absolute;
    top: 0;
    left: -9999px;
}
.submenu li{
    background:  #FFF;
    border: 1px solid #298FF4;
    border-radius: 4px 4px 4px 4px;
    margin: 0 0 2px;
    padding: 4px 6px 2px;
    white-space: nowrap;
    cursor: pointer;
}



.sidebar li:hover .submenu{
    left: 174px;    
}



#block-content{

    font: 1em Verdana;
    padding: 0 0 0 20px;
    margin: 0px;
    width: 730px!important;
}
.title{
    font: 26px 'trebuchet MS';
}


#footer >div{
    border-top: 1px solid #D8D0A9;
    width: 100%;
}


/* -- -*/

#inf{
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    box-shadow: 0px 0px 26px #CCCCCC inset;
    margin: 12px 1px 0px 0px;
    padding: 4px;
}
#inf embed{
    background: #ccc;
}
.inf_wrapper{
    margin: 42px 0 0 0;
}
/*================= AUTH =================*/
#auth-submit-btn{
    font: 18px verdana;
    margin: 0 0 0 -93px;
    padding: 7px 0;
    text-transform: uppercase;
    width: 350px !important;
    _display: block;
}
#auth-table{
    padding: 22px 0 0;
    width: auto;
}
#auth-table input{
    font: 17px verdana;
    width: 349px;
}
#auth-table .input{
    margin: 0 0 0 144px!important;
    _margin:0 0 0 10px!important;
}
.remember{
    padding: 12px;
}
.recovery-form{border: solid 1px #ccc;padding :15px;}
.f-actions{background: none !important; padding: 0 12px 0 220px;}
/*----------------------------------------*/

/* ====== Cabinet =========================*/


/* -----------------------------------------*/

/* ============= Create/Edit post ============== */
textarea{
    width: 600px;
    height: 300px;
}
.write-shpora input[type="text"], select{
    width: 447px;
}
#sbmt-edit-form{
    font: 18px verdana;
    height: 37px;
    text-transform: uppercase;
    width: 600px;
}
/* ---------------------------------------------- */

/* ====== Главная страница =========================*/
#main-page .content {
    font: 20px georgia;
}
#main-page .content dd{
    color: #599151;
    font: 22px georgia;
}
#main-page .content ol{

}
#main-page .content h1{
    font: 24px georgia;
}
#main-page .content dl{
    margin: 0 0 3px;
}
#main-page .content li a{

    color: red;
}
/* ====== Register =========================*/





/* ----modal--------  */
#ajax {display:none;}

/* Overlay */
#simplemodal-overlay {z-index: 999!important;background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container { z-index: 1000!important;width:618px; color:#000; background-color:#ECE9D8; border:4px solid #444; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg {    filter:expression(fixPNG(this)); background:url(/assets/images/panel/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:12; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#basic-modal-content p{font: 1.6em Verdana;}

/* -------end MODAL ------*/

/* Test-edit ---*/
.answer textarea{
    background: none repeat scroll 0 0 #F7F3E3;
    font: 0.8em Tahoma,Serif;
    height: 200px;
}
.variants-head span{
    display: inline-block;
}

.test-item{
    border: 1px solid #CCCCCC;
    font: 14px Verdana;
    margin: 2px 0 36px;
    padding: 7px;
}
.answers{
    color: #C9562C !important;
}
.trueanswers{
    color: green !important;
    font-weight: bold !important;
}

/* --- */


.bgred{background: #F7CDCD !important;}
.bggreen{ background: #D8F9AE !important;}
.bgyellow{background:#fcfdc2 !important;}
.bgorange{background: #fce1ac!important; }

/* ----  user test--------*/
#qw{
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 8px 7px #E5E5E5 inset;
    margin: 0 0 4px;
    padding: 11px 20px;
}
#quetion{
    border-bottom: solid 1px #ccc;
}
#mark{
    color: green;
    font: 47px arial;
    text-shadow: 3px 2px 4px;
}

.var_answ{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px ridge #CCCCCC;
    box-shadow: 0 0 8px 5px #F9F5C0 inset;
    margin: 6px 0;
    padding: 3px;
}


.c-bu{
    border: 1px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: -1px -1px 4px inset;
    padding: 5px 12px 3px 25px;
}
.button-delete{
    background: url("/assets/images/icon/delete.png") no-repeat scroll 5px 3px transparent;
}
.button-edit{
    background: url("/assets/images/icon/pen.png") no-repeat scroll 5px 3px transparent;
}

.c-bu:hover{
    box-shadow: -1px 0px 3px inset;
}
.c-bu:active{
    box-shadow: -1px 0px 2px;
}
.button-position{
    left: 482px;
    position: relative;
    top: 33px;
}
.delete-input{
    background: url("/assets/images/icon/delete.png") no-repeat scroll 4px 3px transparent;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    box-shadow: -1px -1px 3px inset;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    margin: 0 0 0 3px;
    padding: 3px;
    position: relative;
    top: 7px;
    width: 20px;
}

#cat_link{
    background: none repeat scroll 0 0 #B9DDF7;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #444444;
    font: 13px tahoma;
    padding: 3px;
    text-decoration: none;
}

/* -- TEST admin list*/
.test-navigation{
    background: none repeat scroll 0 0 #E5E7EA;
    box-shadow: 2px 2px 6px;
    display: none;
    font: 11px verdana;
    margin: -5px 0 0 !important;
    padding: 4px 0 5px 12px;
}

.g-row{
    margin: 10px 0 0 5px;
    _margin: 5px 0 0!important;
    *margin: 5px 0 0!important;
}
input{
    *height: 18px!important;
}

/* ---TOOOLBAR----*/
#toolbar div{
    margin-left: 2px!important;
}

.bar-button{
    background: none repeat scroll 0 0 #EAEBED;
    border-radius: 12px 12px 0 0;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    color: #6D6D6D;
    cursor: pointer;
    font: 15px arial;
    height: 15px;
    padding: 5px;
    text-transform: uppercase;
}
.bar-button:hover, .bar-active{
    background: #F7E1A0;
}
.bar-hover{
    background: #D7E3F4!important;
}
.page{
    background: none repeat scroll 0 0 #F4F5F7;
    border: 1px solid #CADEF9;
    display: none;
    min-height: 162px;
}
/* -----toolbarend----*/
#checkall{
    font: 10px verdana !important;
    margin: 0 !important;
    padding: 2px 3px 2px 2px;
    position: relative;
    right: -1px;
    top: -2px;  
}
.table_header{
    background: #DEDFE0;
    border-bottom: 1px solid #CCCCCC!important;
    padding: 5px 0 0;
}
#added_users div.g-row, #statistik .mitem{
    border-bottom: 1px dashed #CCCCCC;
    color: black;
}

.group_row{

    border: 1px solid #CCCCCC;
    cursor: pointer;
    font: 1.5em verdana !important;
    margin: 2px 0 0;
    padding: 1px 0 1px;
    text-transform: uppercase;
}
.group_title{
    background: none repeat scroll 0 0 #E5E5E5;
}

.group_users, .group_users div{
    font: 15px tahoma;
    margin: 0 !important;
    text-transform: none;
}
.group_users{
    background: #F4F5F7;
    margin: 6px 0 !important;
    padding: 0 0 0 3px;

}
.group_users_user{
    border-bottom: dashed 1px #ccc;
    width: 696px !important;
}

.group_users_user .actions .f-bu{
    height: 21px;
    padding: 0 4px 2px;
}

#tasks-users{
    height: 226px;
    margin: 17px 0 0;
    overflow-y: auto;
    padding: 0 0 0 11px;
}
/*----------*/
.tasks-groups, .galleries{
    background: none repeat scroll 0 0 #E5E7EA;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    font: 1.3em verdana;
    margin: 7px 3px;
    padding: 5px 2px 5px 12px;
}
.tasks-group_tasks{
    display: none;
}
.tasks-group_tasks-item{

}
.tasks-group_tasks-item-user .table_header{
    width: 666px !important;
}

.tasks-group_tasks-item .item{
    background: none repeat scroll 0 0 #E5E7EA;
    border: 1px outset #CCCCCC;
    cursor: row-resize;
    font: 1.1em verdana;
    margin: 7px 3px;
    padding: 5px 2px 5px 12px;
    width: 671px;
}
.tasks-group_tasks-item-user .user{
    border-bottom: dashed 1px #ccc;
    width: 666px !important;
}
.admin-tasks .p-2 div{
    margin: 10px 5px;

}

.tests-list-item{
    border: solid 1px #ccc;
    margin: 2px 0 2px;
}

.user-practik{
    border: 1px solid #D3C27C;
    margin: 6px 0 !important;
    padding: 2px 4px;
}

/* --  Practiks-admin       -- */
.practik-items{
    border-bottom: dashed #6D6D6D 1px;
    font: 14px verdana;
}

.practik-items .actions{
    border-left: dashed 1px #6D6D6D;
    padding: 0 0 0 5px;
}
#add_practik{
    width: 718px;
}

.file .link{
    display: block;
    float: left;
    width: 241px;
}
.tasks-group_tasks  input.g-05{
    border: 1px solid #CCEECC;
    font: 12px verdana!important;
}
.tasks-group_tasks .del-user{
    cursor: not-allowed;
}


/*Gallery */
.images .img img{
    padding: 10px;
    background: #ccc;
    margin-top: 10px;


}
#galleries{
    height: 517px;
    overflow-y: auto;
    *max-height: 400px;
    *overflow-y: scroll;
    *overflow-x:hidden;
}

.f-bu-ie{
    background-color: #D9D9D9;
    border: 2px solid #CCCCCC;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 4px inset;
    color: #444444;
    cursor: pointer;
    margin-left: 5px;
    overflow: visible;
    padding: 12px 19px;
    position: relative;
    top: -43px;
    *position: static;
}

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) { 
    head~body .f-bu-ie {     top: -38%; } 
}


#galleries .img{
    border: 1px solid #CCCCCC;
    margin: 4px !important;
    padding: 13px;
}

#uploadForm .upl-area{
    width: 253px;
}
#selected-files{
    overflow: auto;
    max-height: 120px;
    *height: 120px;
}

/*  == Хак-классы ==   */
.no_bg{
    background: none!important;
}
.no_top_margin{
    margin-top: 0!important;
}
.no_left_margin{
    margin-left: 0!important;
}
.padding-10{
    padding: 2px 0 2px 10px!important;
}
.fz-14{
    font-size: 14px!important;
}
.display{
    display: block;
}

/*  Плагин - жс-тултайп   */
#screenshot{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}

#preview{
    position:absolute;
    border:1px solid #ccc;
    background:#333;
    padding:5px;
    display:none;
    color:#fff;
}

#tooltip{
    position:absolute;
    border:1px solid #333;
    background:#f7f5d1;
    padding:2px 5px;
    color:#333;
    display:none;
}
/* // Плагин - жс-тултайп   */

.admin-icon{
    border: 2px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 7px 2px #CCCCCC;
    padding: 13px 0;
    margin: 0 0 18px;

}
.test{
    background: url("/assets/images/icon/test.png") no-repeat scroll 8px 6px transparent;
}
.lessons{
    background: url("/assets/images/icon/a_books.jpg") no-repeat scroll 24px 8px transparent;
}
.practik{
    background: url("/assets/images/icon/a_lab.jpg") no-repeat scroll 47px -16px transparent;
}
.practik{
    background: url("/assets/images/icon/a_lab.jpg") no-repeat scroll 47px -16px transparent;
}
.tasks{
    background: url("/assets/images/icon/a_task.jpg") no-repeat scroll 25px 5px transparent;
}
.users{
    background: url("/assets/images/icon/a_user.jpg") no-repeat scroll 57px 4px transparent;
}
.groups{
    background: url("/assets/images/icon/a_group.jpg") no-repeat scroll 19px 9px transparent;
}
.settings{
    background: url("/assets/images/icon/a_settings.jpg") no-repeat scroll 35px 3px transparent;
}
.admin-icon a{
    display: block;
    margin: 45px 11px 0;
}
.icon-wrapper{

    display: inline-block;
}

/* ----------------------*/

.file{
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #CCCCCC;
    box-shadow: 0 -1px 4px #ccc inset;
    display: block;
    margin: 2px;
    padding: 2px 7px;
    width: 300px;
}

.file .delufile{
    margin: 0 0 0 5px;
}
#uploadify-send{
    margin: 10px 0;
}
.delufile{
    padding: 0;
    width: 26px!important;
}

.upl-area, .files{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #999999;
    padding: 10px;
    width: 677px;
}

.files{
    background: #F2F3F4;
}

#practik-page .text{
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 2px #999999;
    font: 15px verdana;
    margin: 12px 0;
    padding: 10px;
    width: 677px;
}

#practik-page textarea{
    background: none repeat scroll 0 0 #ECF2CB;
    color: #677D89;
    font: 17px arial,comic Sans MS;
}

#pr_ckeck #mark{
    border-top: 2px ridge #CCCCCC;
    box-shadow: 0 0 8px 0 #CCCCCC inset;
    margin: 11px 0 0;
    padding: 0 5px 0;
}
#pr_ckeck #comment{
    height: 200px;
    overflow-y: auto;       
}
#pr_ckeck #files{
    height: 100px;
    overflow-y: auto;       
}
#username{
    margin: 0px!important;
}

/* кабинет пользователя */
#profile-page label{
    display: block;
    float: left;
    width: 92px;
}
#profile-page span{
    margin-left: 4px;
}


.less{
    border: 1px solid #CCCCCC;
    border-radius: 12px 12px 12px 12px;
    box-shadow: 0 -4px 11px #CCCCCC inset;
    margin: 13px 0;
    padding: 14px;
    font: 13px verdana;
}

.less-header{
    border-bottom: 1px solid #CCCCCC;
    font: 15px verdana;
}
.less a, .read-btn{
    border: 1px solid #78B2F2;
    border-radius: 28px 28px 28px 28px / 8px 8px 8px 8px;
    box-shadow: 2px 2px 7px -4px #06386D;
    color: #06386D;
    display: block;
    font: 13px tahoma;

    margin: 5px 0 0;
    padding: 2px 11px;
    position: relative;
    text-decoration: none;
    text-align: center;
    width: 76px;

    background-image: linear-gradient(bottom, rgb(178,213,247) 11%, rgb(255,255,255) 49%, rgb(178,213,247) 92%);
    background-image: -o-linear-gradient(bottom, rgb(178,213,247) 11%, rgb(255,255,255) 49%, rgb(178,213,247) 92%);
    background-image: -moz-linear-gradient(bottom, rgb(178,213,247) 11%, rgb(255,255,255) 49%, rgb(178,213,247) 92%);
    background-image: -webkit-linear-gradient(bottom, rgb(178,213,247) 11%, rgb(255,255,255) 49%, rgb(178,213,247) 92%);
    background-image: -ms-linear-gradient(bottom, rgb(178,213,247) 11%, rgb(255,255,255) 49%, rgb(178,213,247) 92%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(178,213,247)),
        color-stop(0.49, rgb(255,255,255)),
        color-stop(0.92, rgb(178,213,247))
        );
}

.less a:hover, .read-btn:hover{
    background-image: linear-gradient(bottom, rgb(178,213,247) 19%, rgb(255,255,255) 62%, rgb(178,213,247) 92%);
    background-image: -o-linear-gradient(bottom, rgb(178,213,247) 19%, rgb(255,255,255) 62%, rgb(178,213,247) 92%);
    background-image: -moz-linear-gradient(bottom, rgb(178,213,247) 19%, rgb(255,255,255) 62%, rgb(178,213,247) 92%);
    background-image: -webkit-linear-gradient(bottom, rgb(178,213,247) 19%, rgb(255,255,255) 62%, rgb(178,213,247) 92%);
    background-image: -ms-linear-gradient(bottom, rgb(178,213,247) 19%, rgb(255,255,255) 62%, rgb(178,213,247) 92%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.19, rgb(178,213,247)),
        color-stop(0.62, rgb(255,255,255)),
        color-stop(0.92, rgb(178,213,247))
        );
    box-shadow: 0 0 5px  #3f3f3f inset;

}




.view-shpora .text{

}
.view-shpora .text table{
    border: 3px ridge #298FF4 !important;
    box-shadow: 6px 5px 9px;
}
.view-shpora .text table td{
    border: 1px solid #84BFF9;
}
.view-shpora .text p{
    text-align: justify;
}





/*Messeneger  DEPRECATED*/
#messager{
    border: 1px solid #BBBBBB;
    bottom: -287px;
    cursor: pointer;
    height: 313px;
    left: 0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: absolute;
    width: 250px;


}
#ms-button{
    background: #F4DB4E;
    border: 2px solid #FFFFFF;
    font: 18px Arial;
    text-align: center;
}
#ms-body{
    background: none repeat scroll 0 0 #E8EAC9;
    border: 2px solid #FFFFFF;
    height: 79%;
    margin: 0 auto;
    width: 97%;
}
#ms-body textarea{
    display: inline;
    float: left;
    font: 11px verdana !important;
    height: 25px;
    margin: 0;
    padding: 0 !important;
    width: 86%;
}
#ms-body span#send{    
    clear: right;
    display: inline;
    height: 21px;
    margin: 0 0 0 4px;
    padding: 0;
    width: 27px !important;

}
#ms-body #write{
    height: 28px;    
}
#ms-body #text{
    height: 219px !important;
    overflow-y: auto;
}
#messager select{
    height: 19px;
    padding: 0 !important;
    width: 249px !important;
}
#ms-body div#text p{
    font: 12px verdana;
}
#ms-reload{
    background: url("/assets/images/icon/reload_msg.png") no-repeat scroll 1px 50% #BED8F4;
    height: 15px;
    width: 9px;
    color: #BED8F4;
    font: 1px verdana !important;    
    display: inline-block;
    background: url("/assets/images/icon/reload_msg.png") no-repeat scroll 4px #BED8F4;
}
.ms-red{
    color: red;
}
#ms-delete, #ms-online{

    font: 17px Verdana !important;
    height: 29px;
    margin: 0 0 8px 3px;
    padding: 0;
    width: 47%;
}

/* ================ */

/* --- new messages -----*/

.write-message textarea{
    height:90px;
    margin:0 5px;
    width:503px;
}
.message-list{
    border: 1px solid #CCCCCC;
    height: 15em;
    margin: 9px 0;
    overflow-y: auto;
    padding: 5px;
    width: 688px;
}
div.users-list select{
    width: 700px;
}
.message-item{
    background: #fffece;
    margin: 0 0 8px;
    min-height: 43px;
    display: block;
    text-decoration: none;
    color: #000;
    border: solid 1px #ddd;
    padding: 2px;
    border-radius: 6px;
}
SPAN.from.login{
    font: 14px Verdana;
    color: #109E0E;
}
span.from{
    color: #fb5555;
    font: 15px arial;
    font-weight: bolder;
}
.inline{
    float: left;
}

.messagelist-img{
    display:block;
    border:1px solid #CDCDCD;
    border-radius: 4px 4px 0 0;
    float:left;
    height:40px !important;
    margin:0 6px 0 8px;
    width:40px !important;
}


/* ================ */
div.jHtmlArea{
    border: solid 1px #ccc;
}

.bgreen{
    background: #99DBFF;
}


/* ================ */
#news{
    border: solid 1px gold;
    padding: 10px;
}

#u-title{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px groove #73A1D5;
    border-radius: 5px 5px 5px 5px;
    display: block;
    font: 19px cursive;
    left: 40%;
    position: relative;
    text-align: center;
    top: -60px;
    width: 330px;
}



#show-menu{
    background: none repeat scroll 0 0 #F5FCCC;
    border: 1px solid #4F98F2;
    border-radius: 2px 2px 2px 2px;
    color: #68696B;
    left: 31px;
    padding: 2px 8px;
    position: relative;
    top: -9px;
    cursor: pointer;
}

#journal{
    font: 12px verdana;
    padding: 4px;
}

#journal-task, #tasks-users{
    font: 12px verdana;
}
.param-click{
    cursor: pointer;
    width: 22px;
}
.params-in{
    border: 1px solid #DDDDDD;
    border-radius: 8px 8px 8px 8px;
    padding: 11px;
}




/* @group Reset */

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
    /* position */
    margin: 0;

    /* size */
    padding: 0;

    /* text */
    font-size: 100%;
    font: inherit;
    vertical-align: top;
}

.fht-table {
    /* appearance */
    border-collapse: collapse;
    border-spacing: 0;
}

.fht-table td{
    background: #FFF9CE;
    border: 1px solid #CCCCCC;
}
/* @end */

/* @group Content */

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow: hidden;

    /* position */
    position: relative;
}

.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    /* appearance */
    overflow: auto;
}

.fht-table-wrapper .fht-table .fht-cell {
    /* appearance */
    overflow: hidden;

    /* size */
    height: 1px;
}

.fht-table-wrapper .fht-fixed-column,
.fht-table-wrapper .fht-fixed-body {
    /* position */
    top: 0;
    left: 0;
    position: absolute;
}

.fht-table-wrapper .fht-fixed-column {
    /* position */
    z-index: 1;
}

/* THEME -=----------------------------- */

/* Fancy Dark Table */	
.fancyDarkTable .numeric {
    /* text */
    text-align: right;
}

.fancyDarkTable td, .fancyDarkTable th {
    padding: 5px;
}

.fancyDarkTable thead tr th {
    padding: 10px 5px 10px 5px;
}

.fancyDarkTable {
    /*border-collapse: separate;*/

    /* text */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fancyDarkTable tbody tr td {
    /* appearance */
    background-color: #E6EEF7;

    color: #000000;
    font-size: 13px;
    text-align: center;
    text-shadow: 0 -1px 1px #CCCCCC;
}

.fancyDarkTable tbody tr.odd td {
    /* appearance */
    background-color: #F2F4F7;
}

.fancyDarkTable thead tr th,
.fancyDarkTable tfoot tr td {
    /* appearance */
    background-color: #151515;
    background-image: -moz-linear-gradient(
        top,
        rgba(255,255,255,0.05) 0%,
        rgba(255,255,255,0.0) 100%);

    background-image: -webkit-gradient(
        linear, left top, left bottom,
        color-stop(0%,rgba(255,255,255,0.05)),
        color-stop(100%,rgba(255,255,255,0.0)));

    /* text */
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 -1px 1px #000;
}

.fancyDarkTable .fht-head {
    -webkit-box-shadow: 0 -1px 0 #3f3f3f;
    -moz-box-shadow: 0 -1px 0 #3f3f3f;
    box-shadow: 0 -1px 0 #3f3f3f;
    z-index: 1;
    position: relative;
}

#journal .selecter-tr td{
    background:#FFF67F;
}



/*------------- форум ---------------- */
.forum-item{
    border: 1px solid #CCCCCC;
    border-radius: 12px 12px 12px 12px;
    padding: 12px;
}

.topic-item{
    border: 1px solid #CCCCCC;
    border-radius: 12px 12px 12px 12px;
    font: 14px verdana;
    padding: 12px;

    background-image: linear-gradient(bottom, #F0EAC5 0%, #FFFFFF 84%);
    background-image: -o-linear-gradient(bottom, #F0EAC5 0%, #FFFFFF 84%);
    background-image: -moz-linear-gradient(bottom, #F0EAC5 0%, #FFFFFF 84%);
    background-image: -webkit-linear-gradient(bottom, #F0EAC5 0%, #FFFFFF 84%);
    background-image: -ms-linear-gradient(bottom, #F0EAC5 0%, #FFFFFF 84%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #F0EAC5),
        color-stop(0.84, #FFFFFF)
        );
}
.topic-img-mini{
    float: right;
    height: 80px!important;
    width: 80px!important;
}
.topic-img-micro{
    display: block;
    float: left;
    width: 40px!important;
    height: 40px!important;
}

#forum-page .content{
    margin: 5px 0 0;
}
.f-text img{
	border-radius: 12px; 
	padding: 10px; 
	background: #f0f0f0; 
	border:solid 1px #dfdfdf; 
	margin: 0 10px 0 0;
}


.fmleft{
    float:left;
    width:25%;
    border-right: dashed 1px #bbb;
}
.fmright{
    margin:0 0 0 28%;
    width:69%;
    padding: 2px;
    line-height:26px;
}
.fmessage-header{  
    border-bottom: 1px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    padding: 4px 0 0 13px;

    background-image: linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -o-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -moz-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -webkit-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -ms-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #E3EDFF),
        color-stop(0.66, #FFFFFF)
        );
}

.del-fmessage, .del-topic, .report-news{    
    padding: 0 4px!important;
    font: 10px verdana!important;
}

.fmessage-navigation{
    border-bottom: 1px solid #C4E5FC;
}

.f-header{
    background-image: linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -o-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -moz-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -webkit-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);
    background-image: -ms-linear-gradient(bottom, #E3EDFF 0%, #FFFFFF 66%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #E3EDFF),
        color-stop(0.66, #FFFFFF)
        );

    border: 1px solid #C4E5FC;
    border-radius: 5px 5px 5px 5px;
    font-family: verdana;
    font-size: 14px;
    margin: -1px 0 7px;
    padding: 3px 16px;
    text-indent: 18px;
}
.f-header .f-name{
    text-align: center;
    font-weight: bold;
}

.last-message{
    border-left: 2px solid #6D6D6D;
    display: block;
    font-style: italic;
    margin-left: 40px;
    padding: 9px;
}


div.g-row div span.author{
    color: #5A8904;
}


.small_rows{
    font: 12px verdana;
    padding: 2px 0 0 4px;
    border: solid 1px #E1E7F7;
    margin: 0 0 2px;
}

.small_rows:hover{
    background: #E1E7F7;
}




.border{
    border: solid 1px #ccc;
}
.h20{
    min-height: 20px;
}


.scr-userlists{
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;        
}

.avatar-mini{
    border:3px solid #FFBD69;
    border-radius:12px;
    box-shadow:0 4px 18px;
    height:86px;
    width:86px;
}




/* ---- PANEL -----*/
#panel-btn{
    position: absolute;
    bottom: 12px;
    right: 0px;
    opacity: 0.7;
}
#panel-btn:hover{
    opacity: 1;
}
.pc_panel{
    position:fixed;
    background:transparent url(/assets/images/panel/bgslide.png) repeat top left;
    color:#fff;
    font-size:11px;
    line-height:14px;
    width:100%;
    right:0px;
    display:none;
    font-family:Arial, Helvetica, sans-serif;
}
.pc_label{
    width:20px;
    height:20px;
    position:absolute;
    top:0px;
    text-align:center;
    letter-spacing:2px;
    text-shadow:0px 0px 1px #fff;
    cursor:pointer;
}
.pc_panel .expand{
    background:#010101 url(/assets/images/panel/expand.gif) no-repeat center center;
    right:24px;
}
.pc_panel .collapse{
    background:#010101 url(/assets/images/panel/collapse.gif) no-repeat center center;
    right:24px;
}
.pc_panel .closep{
    background:#010101 url(/assets/images/panel/close.gif) no-repeat center center;
    right:2px;
}
.pc_title{
    width:100%;
    height:20px;
    background:#000;
    font-size:9px;
    text-transform:uppercase;
    line-height:20px;
    text-indent:10px;
    letter-spacing:1px;
}
.pc_panel .selected{
    background:#222;
}
.pc_panel .selected img{
    border:2px solid #c1c1c1;
}
.pc_item{
    width:200px;
    height:120px;
    cursor:pointer;
    overflow:hidden;
    background:transparent url(/assets/images/panel/bgslide.png) repeat top left;
    float:left;
    margin:5px 10px 10px 10px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-box-shadow:0px 0px 5px #000;
    -webkit-box-shadow:0px 0px 5px #000;
    box-shadow:0px 0px 5px #000;
}
.pc_item h2{
    padding:10px 0px 10px 10px;
    font-size:14px;
    height:32px;
    color:#009ac6;
    line-height:11px;
    clear:both;
}
.pc_item p{
    text-align:justify;
    font-size:10px;
    text-shadow:1px 1px 1px #000;
    padding:0px 10px 5px 10px;
}
.pc_item img{
    width:50px;
    float:left;
    margin:0px 10px 0px 10px;
    border:3px solid #a9a9a9;
    border-radius: 12px;
    -moz-box-shadow:0px 0px 5px #000;
    -webkit-box-shadow:0px 0px 5px #000;
    box-shadow:0px 0px 5px #000;
}
.pc_more{
    display:none;
}
.pc_wrapper{
    overflow:auto;
    position:relative;
    margin-top:10px;
}
.pc_slider{
    position:absolute;
}
.ui-widget-content {
    background:#000;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    border:none;
    background-color:#aaa;
    outline:none;
    cursor:pointer;
    height:17px;
    width:10px;
    left:0px;
    margin-bottom:-10px;
}
/* ---------------- */


#pc_content{
    overflow-y: auto;
}

.upl-area {
    border: 3px dotted #78B9E6;
    width: 92%!important;
    min-height: 80px;
    height: auto!important;
}
#uploadify-send {
    display: inline-block !important;
    background: #54A2D9 !important;
    padding: 1em;
    font-size: 1.2em;
    color: #fff;
    font-weight: bold;
    visibility: hidden;
}
.qq-upload-list li.qq-upload-success {
    background: #5DA30C;
    background: -moz-linear-gradient(top,#5DA30C,#095F06); 
    background: -webkit-linear-gradient(top,#5DA30C,#095F06);
    background: -o-linear-gradient(top,#5DA30C,#095F06);    
}
#ufile label.title {
    display: block;
    padding: 0px 0px 2em;
}