<div id="toolbar" class="g-row">
    <div class="g-2 g-ie bar-button bar-active cntr" rel="1">Тесты</div>
    <div class="g-2 g-ie bar-button cntr" rel="2">Лекции</div>
    <div class="g-2 g-ie bar-button cntr" rel="3">новое задание+</div>
</div>
<div class="bar-pages">
    <div class="g-9 page p-1 ">
        Текст страницы 1Текст страницы 1Текст страницы 1Текст страницы 1Текст страницы 1Текст страницы 1
        Текст страницы 1Текст страницы 1Текст страницы 1Текст страницы 1
        Текст страницы 1Текст страницы 1
    </div>
    <div class="g-9 page p-2">
        Текст страницы 2
    </div>
    <div class="g-9 page p-3" >
        Текст страницы 3
    </div>
</div>